/* CSS Resset */

:root {
  --main-bg-color: #000000;
  --button-links-color: #8739fa;
  --main-font-color: #f6f6f6;
  --sub-font-color: #eaecec;
  --links-icon-color: #626164;
  --secondary-bg-color: #252525;
  --light-bg-color: #ffffff;
  --dark-bg-color: #171c28;

  /* for identification */
  --border: 2px solid var(--main-bg-color);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  background: var(--light-bg-color);
}

.dark-mode {
  background: var(--dark-bg-color);
}

nav.dark-mode > a {
  color: var(--light-bg-color);
}

#menu-bar {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  padding: 28px 20px;
}

#menu-bar > .fas {
  color: #000 !important;
}

/* header stling begins */
header {
  max-width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}

header .logo {
  display: flex;
  padding: 15px 30px;
  font-size: 2em;
  color: #73429f;
  text-decoration: none;
  margin-top: 10px;
  line-height: normal;
  font-family: "Great Vibes", cursive;
  font-weight: bold;
}

span.grey-color {
  color: var(--sub-font-color);
}

header > nav {
  display: flex;
  justify-content: space-between;
}

header > nav > a {
  display: flex;
  color: #000;
  font-size: 1.125rem;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  text-decoration: none;
}

header > nav > a:hover {
  background: var(--sub-font-color);
}

/* toggle button stling */
header > nav > .toggle {
  display: flex;
  align-items: center;
  padding: 15px 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* stling popup */
#popup {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #8739fa;
  box-shadow: 0px 10px 33px 1px rgba(0, 0, 0, 0.41);
  visibility: hidden;
  opacity: 0;
  margin-top: 50px;
  transition: all 1s ease;
}

.popup_content > h3 {
  font-size: 3rem;
  color: var(--main-font-color);
}

#popup.show {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

/* About section stling */
.about {
  background: var(--links-icon-color);
  display: grid;
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(2 1fr);
}

.about_content > h1 {
  font-size: 3rem;
}

.about_content > p {
  color: var(--sub-font-color);
  font-size: 1.25rem;
}

.about_content > h1 > span > img {
  width: 50px;
}

.about_gif {
  width: 50%;
}
.about_gif > img {
  width: 100%;
  object-fit: contain;
}

.btn {
  background: var(--button-links-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: var(--main-font-color);
}

/* [class^="about_"] {
  border: var(--border);
} */

.about_content_container {
  width: 50%;
}

/* Responsiveness */
@media (max-width: 400px) {
}

@media (max-width: 768px) {
  #menu-bar {
    display: block;
  }

  header .navbar a {
    font-size: 1.25rem;
    background: var(--light-bg-color);
    margin: 1rem;
    color: #000;
    display: flex;
    text-align: left;
  }

  header .navbar {
    display: none;
  }

  .toggle .switch {
    margin-left: 2%;
  }

  nav.dark-mode {
    background-color: var(--dark-bg-color);
  }

  nav.dark-mode > a {
    color: var(--light-bg-color);
    background: var(--dark-bg-color);
  }

  header .navbar.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    right: -120%;
    width: 100%;
    left: 0;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .about_content_container {
    width: 90%;
    height: 50vh;
  }

  .about_gif {
    width: 100%;
  }

  .about_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
